* {
  padding: 0;
  margin: 0;
}

body {
  margin-left: 210px;
}

.header {
  position: fixed;
  left: 0;
  height: 0;
  height: 100vh;
  width: 210px;
  background: #0c9c56;
}

.header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 20px 20px;
  cursor: pointer;
  border-bottom: solid 1px white;
}

.header .title i {
  margin-right: 10px;
  font-size: 25px;
  color: #eaff05;
}

.header .title i::-moz-selection {
  color: #242424;
}

.header .title i::selection {
  color: #242424;
}

.header .title h3 {
  font-size: 24px;
  color: white;
  font-weight: 100px;
}

.header .title h3::-moz-selection {
  color: #242424;
}

.header .title h3::selection {
  color: #242424;
}

.header .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 40px 0 15px;
}

.header .ul a {
  text-decoration: none;
  color: white;
  margin: 8px 5px;
}

.header .ul a::-moz-selection {
  color: #242424;
}

.header .ul a::selection {
  color: #242424;
}

.header .ul a i {
  color: #eaff05;
  margin-right: 7px;
  font-size: 14px;
}

.header .ul a:hover {
  color: #242424;
  margin-left: 15px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .ul .hom {
  color: black;
  font-weight: 900;
}

.header .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .contacts .contact a {
  color: #242424;
  text-decoration: none;
  background-color: white;
  margin: 5px 2px;
  padding: 10px;
}

.header .contacts .contact a:hover {
  background: #242424;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .contacts .rights {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .contacts .rights h3 {
  color: white;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5px;
}

.header .contacts .rights h3::-moz-selection {
  color: #242424;
}

.header .contacts .rights h3::selection {
  color: #242424;
}

.header .contacts .rights span {
  color: #eaff05;
  font-size: 16px;
}

.header .contacts .rights span::-moz-selection {
  color: #242424;
}

.header .contacts .rights span::selection {
  color: #242424;
}

.header .contacts .rights h4 {
  color: white;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
}

.header .contacts .rights h4::-moz-selection {
  color: #242424;
}

.header .contacts .rights h4::selection {
  color: #242424;
}

.Home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.Home img {
  height: 650px;
  width: 650px;
  margin-top: -100px;
}

.Home .text {
  margin-top: -100px;
  margin-left: -40px;
}

.Home .text h3 {
  color: #0c9c56;
  font-size: 20px;
  line-height: 47px;
}

.Home .text h3::-moz-selection {
  color: white;
  background: black;
}

.Home .text h3::selection {
  color: white;
  background: black;
}

.Home .text h1 {
  font-size: 30px;
  width: 400px;
  color: #242424;
  padding-bottom: 10px;
}

.Home .text h1 span {
  color: #0c9c56;
  cursor: pointer;
}

.Home .text h1::-moz-selection {
  color: white;
  background: black;
}

.Home .text h1::selection {
  color: white;
  background: black;
}

.Home .text p {
  width: 390px;
  font-size: 15px;
  line-height: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}

.Home .text p::-moz-selection {
  color: white;
  background: black;
}

.Home .text p::selection {
  color: white;
  background: black;
}

.Home .text a {
  color: white;
  background: #242424;
  text-decoration: none;
  padding: 8px 13px;
}

.Home .text a::-moz-selection {
  color: white;
  background: black;
}

.Home .text a::selection {
  color: white;
  background: black;
}

.Home .text a:hover {
  background: #0c9c56;
  -webkit-transition: .4s;
  transition: .4s;
}

.category .Home {
  display: none;
}

.category .Category {
  display: block;
}

.category .header .hom {
  color: white;
  font-weight: 100;
}

.category .header .cat {
  color: #242424;
  font-weight: 900;
}

.about .Home {
  display: none;
}

.about .header .hom {
  color: white;
  font-weight: 100;
}

.about .header .abo {
  color: #242424;
  font-weight: 900;
}

.courses .Home {
  display: none;
}

.courses .header .hom {
  color: white;
  font-weight: 100;
}

.courses .header .cou {
  color: #242424;
  font-weight: 900;
}

.pricing .Home {
  display: none;
}

.pricing .header .hom {
  color: white;
  font-weight: 100;
}

.pricing .header .pri {
  color: #242424;
  font-weight: 900;
}

.contact .Home {
  display: none;
}

.contact .header .hom {
  color: white;
  font-weight: 100;
}

.contact .header .con {
  color: #242424;
  font-weight: 900;
}

.review .Home {
  display: none;
}

.review .header .hom {
  color: white;
  font-weight: 100;
}

.review .header .rev {
  color: #242424;
  font-weight: 900;
}

.blogs .Home {
  display: none;
}

.blogs .header .hom {
  color: white;
  font-weight: 100;
}

.blogs .header .blo {
  color: #242424;
  font-weight: 900;
}
/*# sourceMappingURL=index.css.map */